.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: .2s;
  color: #000;

  svg {
    fill: currentColor;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}